<div id="wrapper-2">
 <div id="wrap-content">
    <div id="wrapper-3">
       <div id="main-wrapper">
          <div id="main">
             <div id="breadcrumb">
               <span>
                      <a href="{site.url('/').absolute}">RESTEasy</a>
                        &gt;
                      <a href="{page.url.absolute}">{page.title}</a>
                      {#if page.title == 'Blogs' }
                      <a href="/feed.xml"><image src="/img/blog/feed-icon.png"/></a>
                      {/if}
               </span>
             </div><!-- end breadcrumb -->
             {#insert /}
          </div><!-- end main -->
       </div>
