<head>
    <meta http-equiv='X-XSS-Protection' content="1; mode=block">
    <meta http-equiv='X-Content-Type-Options' content="nosniff">
    {#bundle /}
    {#seo page site /}
    {#rss site /}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="RESTEasy"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="all"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <link rel="icon" type="image/x-icon" href="{site.url('/img/orgLayoutBody/favicon/resteasy_icon_16x.png').absolute}"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/org_common.css').absolute}" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/styles.css').absolute}" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/project.css').absolute}" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/wide.css').absolute}" media="only screen and (min-width: 1200px)"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/jbossdeveloper-thin.css').absolute}" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{site.url('/css/commonhaus-footer.css').absolute}" media="screen, projection"/>
</head>
