        <div id="top_subnav_branding">
            <div id="banner">
                <div class="container">
                    <a href="/"><img src="{site.url('/img/orgLayoutBody/resteasy-banner-1180px.png').absolute}"
                                     onError="this.style.display='none'"/></a>
                </div>
            </div>
            <div id="proj_nav" class="">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="sf-menu">
                            <li class="open" data-nav="overview">
                                <span class="notch">&nbsp;</span>
                                <a href="{site.url.absolute}" class="menu-title">Overview</a>
                            </li>
                            <li class="open" data-nav="downloads">
                                <span class="notch">&nbsp;</span>
                                <a href="{site.url('/downloads').absolute}" class="menu-title">Downloads</a>
                            </li>
                            <li class="open" data-nav="docs">
                                <span class="notch">&nbsp;</span>
                                <a href="{site.url('/docs').absolute}" class="menu-title">Documentation</a>
                            </li>
                            <li class="open" data-nav="community">
                                <span class="notch">&nbsp;</span>
                                <a href="{site.url('/community').absolute}" class="menu-title">Community</a>
                            </li>
                            <li class="open" data-nav="blogs">
                                <span class="notch">&nbsp;</span>
                                <a href="{site.url('/blogs').absolute}" class="menu-title">Blog</a>
                            </li>
                            <li>
                                <button id="theme-toggle" type="button" aria-label="Toggle theme">
                                    <i class="fas fa-moon"></i>
                                    <span class="theme-toggle-text">Dark</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!-- end container -->
            </div>
        </div>
