                    <div id="rightcolumn" class="column">
                        <div class="projectpage-socialmedia">
                            <span class="st_sharethis_large">&nbsp;</span>
                            <span class="st_facebook_large">&nbsp;</span>
                            <span class="st_twitter_large">&nbsp;</span>
                            <span class="st_linkedin_large">&nbsp;</span>
                            <span class="st_email_large">&nbsp;</span>
                        </div>
                        <div id="proj_quick-start">
                            <h3>Useful Links</h3>
                            <ul>
                                <li><a href="{site.url('/downloads').absolute}">Download</a></li>
                                <li><a href="{site.url('/docs').absolute}">Documentation</a></li>
                                <li><a href="{site.url('/books').absolute}">Books</a></li>
                                <li><a href="{site.url('/mailinglists').absolute}">Mailing Lists</a></li>
                                <li><a href="https://github.com/resteasy/resteasy/discussions">Discussions</a></li>
                                <li><a href="{site.url('/blogs').absolute}">Blogs</a></li>
                                <li><a href="https://github.com/resteasy/resteasy">Git Repository</a></li>
                                <li><a href="https://github.com/resteasy/resteasy/graphs/contributors">Contributors</a>
                                </li>
                                <li>
                                    <a href="https://issues.redhat.com/jira/secure/ConfigureReleaseNote.jspa?projectId=12310560">Release
                                        Notes</a></li>
                                <li><a href="https://issues.redhat.com/projects/RESTEASY">JIRA Issue Tracker</a></li>
                            </ul>
                        </div>
                        <div id="badges">
                            <ul>
                                <li class="license-asl"><a href="https://www.apache.org/licenses/LICENSE-2.0"><em>Apache
                                    License, Version 2.0</em></a></li>
                            </ul>
                        </div>
                        <br/>
                        <div>
                            <a href="https://www.jboss.org/security.html">
                                <div class="projectpage-sprite projectpage-sprite-securityimage">&nbsp;</div>
                            </a>
                        </div>
                    </div>
                </div><!-- end wrapper-3 -->
            </div><!-- end wrapper-content -->
