<div class="share-page">
  <a class="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={page.url.absolute}&title={page.title}" rel="nofollow" target="_blank" title="Share on LinkedIn">
    <img class="svg-icon" src="{site.url('/img/social/linkedin.svg').absolute}" alt="LinkedIn">
  </a>
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text={page.title}&url={page.url.absolute}" rel="nofollow" target="_blank" title="Share on Twitter">
    <img class="svg-icon" src="{site.url('/img/social/twitter.svg').absolute}" alt="Twitter">
  </a>
  <a class="share-facebook" href="https://facebook.com/sharer.php?u={page.url.absolute}" rel="nofollow" target="_blank" title="Share on Facebook">
    <img class="svg-icon" src="{site.url('/img/social/facebook.svg').absolute}" alt="Facbook">
  </a>
  <a class="share-reddit" href="http://www.reddit.com/submit?url={page.url.absolute}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Reddit" >
    <img class="svg-icon" src="{site.url('/img/social/reddit.svg').absolute}" alt="reddit">
  </a>
  <a class="share-email" href="mailto:?subject={page.title}&amp;body={page.title} {page.url.absolute}" title="Share via Email" >
    <img class="svg-icon" src="{site.url('/img/social/envelope-solid.svg').absolute}" alt="email">
  </a>
</div>
